/* Go crazy with your own styles here */
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

/* Font Imports */
@font-face {
    font-family: "Antenna Regular";
    src: url('/library/fonts/antenna-regular.ttf'),
    url('/library/fonts/antenna-regular.eot'); /* IE */
}

@font-face {
    font-family: "Antenna Bold";
    src: url('/library/fonts/antenna-bold.ttf'),
    url('/library/fonts/antenna-bold.eot'); /* IE */
}

@font-face {
    font-family: "Antenna Light";
    src: url('/library/fonts/antenna-light.ttf'),
    url('/library/fonts/antenna-light.eot'); /* IE */
}

@font-face {
    font-family: "Antenna ExtraLight";
    src: url('/library/fonts/antenna-extralight.ttf'),
    url('/library/fonts/antenna-extralight.eot'); /* IE */
}



/* Layout Styles */

body {
	margin: 0px;
}

header {
	height: 100px;
	margin-bottom: 45px;
}

header .search {
	float: right;
}

.inner {
	width: 1100px;
	max-width: 1100px;
	margin: 0 auto;
}

.content-top {
	margin-bottom: 20px;
/*    background-image: 
    	url(../library/images/nav/nav-extend.jpg),
    	url(../library/images/nav/nav-white.jpg);
   	background-position: center left, center right;*/

    min-height: 335px;
    z-index: 1;
}

.content-top .inner {
    background: #FFFFFF !important;
    background-image: none;
    z-index: 9999;
    min-height: 335px;
}

.content-wrapper {
	padding-left: 10px;
	padding-right: 10px;
}

.content-top .navigation {
	color: #FFFFFF;
	width: 14%;
	float: left;
}

.home .content-top .navigation {
	width: 40%;

}

.home .content-top .page-content {
	width: 53%;
	margin-left: 47%;
}

.content-top .page-content {
	color: #4a4529;
	width: 78%;
	float: left;
	margin-left: 22%;
}

.page-content .header-image {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #0e1f43;
}

.content-bottom {
	background: #0e1f43;
	margin-top: 40px;
	padding-top: 40px;
}

.content-bottom img {
	width: 346px;
	margin: 0 auto;
	padding-bottom: 35px;
}

.blog-feed {
	width: 905px;
	margin: 0 auto;
	padding-bottom: 100px;
}

footer {
	height: 31px;
	background: #23b3b3;
}

.clear {
	clear: both;
}



/* Content Styles */
h1 {
	color: #4a4529;
	font-family: 'Antenna ExtraLight';
	font-size: 40px;
	font-weight: 100;
}

h1.site-title {
	float: left;
	margin-left: 40px;
	margin-top: 40px;
	margin-bottom: 0px;
}

h2 {
	font-family: 'Antenna Bold';
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px;
}

h2.page-title {
	margin-top: 0px;
}

h3.post-title {
	color: #ef4326;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Antenna Bold';
	font-size: 20px;
	text-decoration: none !important;
}

h3.post-title.post {
	color: #0e1f43;
}

h3.event-title {
	color: #0e1f43;
	margin-top: 0px;
	font-family: 'Antenna Bold';
	font-size: 24px;
	text-decoration: none !important;
}

a {
	text-decoration: none;
}

.green-text {
	color: #23b3b3;
	font-size: 18px;
}

header .inner {
	color: #4a4529;
	padding: 5px 5px;
}

.logo {
	float: left;
}

header .search input {
	color: #4a4529 !important;
	background-image: url('/library/images/search.png');
	background-position: center right;
	background-repeat: no-repeat;
	border: 0px;
	text-align: right;
	font-family: 'Antenna Bold';
	padding-right: 30px;
	margin-top: 60px;
}

::-webkit-input-placeholder {
   color: #4a4529;
   font-size: 12px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #4a4529;  
   font-size: 12px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #4a4529;  
   font-size: 12px;
}

:-ms-input-placeholder {  
   color: #4a4529;
   font-size: 12px;
}

.navigation {
	position: absolute;
}

.navigation ul {
	padding-left: 0px;
	margin-top: 0px;
}

.navigation li {
	background: #23b3b3;
	margin-bottom: 20px;
	padding-top: 12px;
    padding-bottom: 12px;
	padding-left: 38px;
	list-style-position: inside;
}

.navigation a {
	text-decoration: none;
	font-family: 'Antenna Bold';
	font-size: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.navigation .nav-text {
	padding-left: 10px;
}

.navigation li.resources {
	list-style-image: url('/library/images/nav/resources.png') !important;
	width: 180px;
}

.navigation li.blog {
	list-style-image: url('/library/images/nav/trends.png') !important;
	width: 180px;
}

.navigation li.events {
	list-style-image: url('/library/images/nav/events.png') !important;
	width: 180px;
}

.navigation li.about {
	list-style-image: url('/library/images/nav/about.png') !important;
	width: 180px;
}

.navigation li.contact-us {
	list-style-image: url('/library/images/nav/contact-us.png') !important;
	width: 180px;
}

.navigation a:hover li {
	padding-right: 40px;
	transition: .2s;
}


.home .navigation li.resources {
	list-style-image: url('/library/images/nav/resources.png') !important;
	width: 80%;
}

.home .navigation li.blog {
	list-style-image: url('/library/images/nav/trends.png') !important;
	width: 70%;
}

.home .navigation li.events {
	list-style-image: url('/library/images/nav/events.png') !important;
	width: 54%;
}

.home .navigation li.about {
	list-style-image: url('/library/images/nav/about.png') !important;
	width: 30%;
}

.home .navigation li.contact-us {
	list-style-image: url('/library/images/nav/contact-us.png') !important;
	width: 54%;
}

.home .navigation a:hover li {
	padding-right: 15px;
	transition: .2s;
}



.page-content {
	color: #4a4545;
	font-family: 'Antenna Regular';
	font-size: 14px;

}

.page-content {
	line-height: 25px;
}

.page-header {
	color: #FFFFFF;
	background: #0e1f43;
    padding-top: 13px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    font-family: 'Antenna Bold';
    font-size: 32px;
    text-transform: uppercase;
}

.page-header-blog {
	color: #FFFFFF;
	background: #0e1f43;
    padding-top: 13px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    font-family: 'Antenna Bold';
    font-size: 32px;
    text-transform: uppercase;
}


.page-header img {
	margin-bottom: 8px;

}

.page-header-blog img {
	margin-bottom: 8px;

}

.home .page-header {
	display: none;
}

.blog-post {
	padding: 20px;
	border: 3px solid #142c5f;
	max-width: 205px;
	min-height: 290px;
	margin-right: 25px;
	margin-left: 25px;
	float: left;
}

.blog-post-overview {
	margin-bottom: 40px;
}

.post-date {
	color: #23b3b3;
	font-size: 12px;
	font-family: 'Antenna Bold';
	text-transform: uppercase;
}

.by-line {
	color: #383639;
	font-size: 13px;
	font-family: 'Antenna Regular';
	text-transform: uppercase;
	margin-bottom: 10px;
}

.post-blurb {
	color: #FFFFFF;
	font-family: 'Antenna Regular';
	font-size: 14px;
}

.post-blurb-overview {
	color: #333333;
	font-family: 'Antenna Regular';
	font-size: 14px;
}

.read-more {
	color: #ef4326;
	margin-top: 0px;
	font-family: 'Antenna Bold';
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}

.orange-button {
	color: #FFFFFF;
	background: #ef4326;
	padding: 5px 20px;
	font-family: 'Antenna Regular';
}

.contact-employee {
	color: #0e1f43;<div style="text-align: center;">
	font-family: 'Antenna Regular';
	font-size: 13px;
	text-align: center;
	line-height: 18px;
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 40px;
	width: 28%;
	vertical-align: top;
}
.employee-name {
	text-transform: uppercase;
	font-family: 'Antenna Bold';
	font-size: 16px;
}

.employee-title {
	margin-bottom: 5px;
}

.employee-email {
	color: #ee4e1c;
	font-family: 'Antenna Bold';
}

.employee-section {
	color: #FFFFFF;
	text-align: center;
	background-image: url('/library/images/contact-sub-header.jpg');
	font-family: 'Antenna Bold';
	font-size: 20px;
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top: 8px;
	margin-bottom: 20px;
	min-height: 62px;
}


