/* Go crazy with your own styles here */
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

/* Font Imports */
@font-face {
    font-family: "Antenna Regular";
    src: url('/library/fonts/antenna-regular.ttf'),
    url('/library/fonts/antenna-regular.eot'); /* IE */
}

@font-face {
    font-family: "Antenna Bold";
    src: url('/library/fonts/antenna-bold.ttf'),
    url('/library/fonts/antenna-bold.eot'); /* IE */
}

@font-face {
    font-family: "Antenna Light";
    src: url('/library/fonts/antenna-light.ttf'),
    url('/library/fonts/antenna-light.eot'); /* IE */
}

@font-face {
    font-family: "Antenna ExtraLight";
    src: url('/library/fonts/antenna-extralight.ttf'),
    url('/library/fonts/antenna-extralight.eot'); /* IE */
}



/* Layout Styles */

body {
	margin: 0px;
}

header {
	height: 100px;
	margin-bottom: 20px;
}

header .search {
	float: right;
}

.inner {
	width: 960px;
	max-width: 960px;
	margin: 0 auto;
}

.content-top {
	margin-bottom: 20px;
}

.content-top .navigation {
	color: #FFFFFF;
	width: 50%;
	float: left;
}

.content-top .page-content {
	color: #4a4529;
	width: 47%;
	float: left;
	padding-left: 20px;
}

.content-bottom {
	background: #0e1f43;
	margin-top: 40px;
	padding-top: 40px;
}

.content-bottom img {
	width: 346px;
	margin: 0 auto;
	padding-bottom: 35px;
}

.blog-feed {
	width: 905px;
	margin: 0 auto;
	padding-bottom: 100px;
}

footer {
	height: 31px;
	background: #23b3b3;
}

.clear {
	clear: both;
}



/* Content Styles */
h1 {
	color: #4a4529;
	font-family: 'Antenna ExtraLight';
	font-size: 40px;
	font-weight: 100;
}

h1.site-title {
	float: left;
	margin-left: 40px;
	margin-top: 40px;
	margin-bottom: 0px;
}

h2 {
	font-family: 'Antenna Bold';
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px;
}

h3.post-title {
	color: #ef4326;
	margin-top: 0px;
	font-family: 'Antenna Bold';
	font-size: 20px;
}

header .inner {
	color: #4a4529;
	padding: 5px 5px;
}

.logo {
	float: left;
}

header .search input {
	color: #4a4529 !important;
	background-image: url('/library/images/search.png');
	background-position: center right;
	background-repeat: no-repeat;
	border: 0px;
	text-align: right;
	font-family: 'Antenna Bold';
	padding-right: 30px;
	margin-top: 60px;
}

::-webkit-input-placeholder {
   color: #4a4529;
   font-size: 12px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #4a4529;  
   font-size: 12px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #4a4529;  
   font-size: 12px;
}

:-ms-input-placeholder {  
   color: #4a4529;
   font-size: 12px;
}

.navigation ul {
	padding-left: 0px;
}

.navigation li {
	background: #23b3b3;
	margin-bottom: 20px;
	padding-top: 12px;
    padding-bottom: 12px;
	padding-left: 38px;
	list-style-position: inside;
}

.navigation a {
	text-decoration: none;
	font-family: 'Antenna Bold';
	font-size: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.navigation .nav-text {
	padding-left: 10px;
}

.navigation li.resources {
	list-style-image: url('/library/images/nav/resources.png') !important;
	width: 85%;
}

.navigation li.blog {
	list-style-image: url('/library/images/nav/blog.png') !important;
	width: 70%;
}

.navigation li.events {
	list-style-image: url('/library/images/nav/events.png') !important;
	width: 54%;
}

.navigation li.about {
	list-style-image: url('/library/images/nav/about.png') !important;
	width: 30%;
}

.navigation li.contact-us {
	list-style-image: url('/library/images/nav/contact-us.png') !important;
	width: 54%;
}

.navigation a:hover li {
	padding-right: 30px;
}

.page-content {
	color: #4a4545;
	font-family: 'Antenna Regular';
	font-size: 14px;
}

.page-content {
	line-height: 25px;
}

.blog-post {
	padding: 20px;
	border: 3px solid #142c5f;
	max-width: 205px;
	min-height: 290px;
	margin-right: 25px;
	margin-left: 25px;
	float: left;
}

.post-date {
	color: #23b3b3;
	font-size: 12px;
	font-family: 'Antenna Bold';
	text-transform: uppercase;
}

.post-blurb {
	color: #FFFFFF;
	font-family: 'Antenna Regular';
	font-size: 14px;
}

.read-more {
	color: #ef4326;
	margin-top: 0px;
	font-family: 'Antenna Bold';
	font-size: 14px;
	text-decoration: none;
}


