@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<h3 class="post-title post-page">@CurrentPage.postTitle</h3>
<div class="post-date">@CurrentPage.CreateDate.ToLongDateString()</div>
<p class="post-blurb-overview">@CurrentPage.postContent</p>
